body{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(244, 227, 247);
}
#image{
  width: 70%;
  padding: 20px;
  margin:1px 5px 5px 250px;
}
h1{
  text-align: center;
  font-size: 50px;
  color: rgb(172, 86, 172);
}

.split_container{
      display: flex;
}
.split_left{
  width: 50%;
  height: 40px;
  padding:auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}


.split_right{
    padding: 30px 50px 0 80px;
    
}

.hr-lines{
    position: relative;
    max-width: 550px;
    margin: 60px auto;
    text-align: center;
          }
          .hr-lines:before{
    content:" ";
    height: 1px;
    width: 265px;
    background:  rgb(104, 91, 91);
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
  }
  
  .hr-lines:after{
    content:" ";
    height: 1px;
    width: 265px;
    background: rgb(104, 91, 91);
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
  }

  #submit_button{
    width: 100%;
    background-color:rgb(126, 81, 126);
    color: white;
    padding: 10px 13px;
  }
  .icon{
    text-align: center;
    justify-content: center;
    align-content: center;
    display: flex;
    gap: 70px;

}
.password-toggle-icon{
    float: right;
    margin-left: 50%;
    margin-top: 10%;
}

.vertical-line {

  border-left: 1px solid plum;
  

  height: 700px;
  
}
input{
  width:98%;
  height:30px
}

.continers{
  display: flex;
  gap: 40px;


}
.lname{
  width: 200px;
}

.fname{
  width: 200px;
 
}
#images{
  margin-top: 80px;
  height: 100%;
  width: 100%;
padding-right: 100px;
}
#google{
  width: 40px;
  height: 30px;
  border: 1px solid white;
  background-color: white;
}
#facebook{
  width: 50px;
  height: 30px;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
}
#apple{
  width: 60px;
  height: 50px;
  background-color: white;
}
.container{
  gap: 100px;
  display: flex;
}
.sign_in{
  text-align: center;
}

.form{
  height: 80%;
  width: 40%;
  padding: 3%;
  float: left;
  border-left:1px solid purple ;
  margin: 20px;
}