body{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(244, 227, 247);
}

.split_container{
      display: flex;
      margin: 20px 20px 20px 20px;
      height: 90px;
      
}
.split_left{
  width: 50%;
  height: 100%;
  padding: 5% 9%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}


.split_right{
    flex: 1;
    flex-direction: column;
    padding: 30px 50px 0 130px;
}

.hr-lines{
    position: relative;
    max-width: 550px;
    margin: 60px auto;
    text-align: center;
          }
          .hr-lines:before{
    content:" ";
    height: 1px;
    width: 265px;
    background:  rgb(104, 91, 91);
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
  }
  
  .hr-lines:after{
    content:" ";
    height: 1px;
    width: 265px;
    background: rgb(104, 91, 91);
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
  }

  #submit_button{
    width: 100%;
    background-color:rgb(126, 81, 126);
    color: white;
    padding: 10px 13px;
  }
  .icon{
    text-align: center;
    justify-content: center;
    align-content: center;
    display: flex;
    gap: 70px;

}
.password-toggle-icon{
    float: right;
    margin-left: 50%;
    margin-top: 10%;
}

.vertical-line {

  border-left: 1px solid plum;
  

  height: 700px;
  
}
input{
  width:98%;
  height:30px
}

.continers{
  display: flex;
  gap: 60px;


}
.lname{
  display: flex;
  width: 300px;
}

.fname{
  display: flex;
  width: 300px;
 
}
#images{
  margin-top: 80px;
  height: 100%;
  width: 100%;
padding-right: 100px;
}
h1{
  color: blueviolet;
  justify-content: center;
  margin-left: 200px;
}
#google{
  width: 30px;
  height: 30px;
  background-color: white;
}
#facebook{
  width: 30px;
  height: 30px;
  background-color: white;
}
#apple{
  width: 60px;
  height: 50px;
  background-color: white;
}
.container{
  gap: 100px;
  display: flex;
}
.sign_in{
  text-align: center;
}

.form{
  height: 80%;
  width: 40%;
  padding: 3%;
  float: left;
  border-left:1px solid purple ;
  margin: 20px;
}